

<style>
body,h1 {font-family: "Raleway", sans-serif}
.page {
  position: fixed; /* or absolute */
  top: 20%;
  left: 30%; 
}

h1{
    font-size: 6vw; 
  font-weight: 700; 
  color: #fff; 
  line-height: 1;
}
.pageContent{
     font-size: 2vw; 
  font-weight: 200; 
  color: #fff; 
  line-height: 1;
  margin-top:40px;
}
button{
      margin-top:40px;
    background-color: rgb(10, 97, 226);
}
</style>
<body>

<div class="page">
  <h1>
    Zebra
  </h1>
  <div class="pageContent">
    <div class="w3-jumbo w3-animate-top" style="margin:auto paddingL20%">Data Crawling Services for Social Media</div>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <button type="button" onClick="location.href='check'">start Facebook web Crawling now</button>
  </div>

</div>


