<!DOCTYPE html>
<html>

<head>
  <title>view crawling results</title>
  <style>
    body {
      font-family: 'helvetica';
      background: none;
    }
  </style>
</head>


<body>
  {{#if allUserNames.length}}


  <div class="container">
    <h2> all crawling results of worldExplorer</h2>
    {{#each allUserNames}}
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href='http://localhost:5000/socialMedia/results?userName={{this}}'>{{this}}</a>
      </li>

      </ul>
      {{/each}}
      {{else}}
      <h2>there is no results to display</h2>
  </div>

  {{/if}}

</body>

</script>

</html>